/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #777;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 19px;
}

.header {
    background-image: linear-gradient(
        to right bottom, rgba(126, 213, 111, 0.8),
        rgba(85, 198, 122, 0.8)),
        url('../img/hero.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
        justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
    /* position: relative; */
}

.header-content {
    display: flex;
        /* align-items: flex-start; */
        flex-direction: column;
        flex-basis: 95%;
        justify-content: flex-start;
    height: 75vh;
    padding-top: 20px;
    position: relative;
}

.header-nav-area {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.logo {
    height: 35px;
}

.logo-box {
    /* display: flex;
    height: fit-content; */
}

.fa-bars {
    color: #fff;
    font-size: 2em;
}

.text-box {
    position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -83%);
    text-align: center;

}

.heading-primary {
    backface-visibility: hidden;
    color: #fff;
    display: flex;
        align-items: center;
        flex-direction: column;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.heading-primary-main {
    /* font-size: 3.75rem; */
    animation: moveInLeft 1s ease-out;
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: 2.3rem;
}

.heading-primary-sub {
    /* font-size: 1.25rem; */
    animation: moveInRight 1s ease-out;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 1rem;
}

.btn:link,
.btn:visited {
    border-radius: 50px;
    color: #000;
    display: inline-block;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s;
}

.btn-white {
        background: #fff;
        color: #777;
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    transform: translateY(-3px);
}

.btn:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transform: translateY(-1px);
}

.btn::after {
    border-radius: 50px;
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
        top: 0;
        left: 0;
    transition: all .4s;
    width: 100%;
    z-index: -1;
}

.btn-white::after {
        background-color: #fff;
}

.btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
}

.btn-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }

        80% {
            transform: translateX(-10px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

}/*===========================
END OF MAIN.CSS AUTHOR STYLES
==============================*/
