.footer {
    background: $color-gray-dark-3;
    color: $color-white;
    font-size: 1.3rem;

    &__content-wrapper {
        flex-wrap: wrap;

        & > *:not(:first-child) > * {
            border-top: 1px solid $color-gray-light-1;
            padding: .5rem 2.5rem;
        }
    }

    &__logo-box {
        flex-basis: 100%;
        justify-content: center;
    }

    &__logo {
        height: 10rem;
    }

    &__nav {
        justify-content: center;
    }

    &__list {
        flex-basis: 70%;
        list-style: none;
        justify-content: space-around;
    }

    &__item {
        display: inline;
    }

    &__link {
        color: $color-white;
        text-decoration: none;

        &:active,
        &::after,
        &:visited {
        color: $color-white;
        text-decoration: none;
        }

        &--credit {
            text-transform: uppercase;
        }

        &--gray {

            &:active,
            &::after,
            &:visited {
            color: #cacaca;
            }
        }
    }

    &__copyright {
        justify-content: center;

        &-text {
            flex-basis: 70%;
            text-align: justify;
        }
    }

}
