.content-wrapper {
    box-sizing: border-box;
    display: inherit;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: space-between;


}

.full-width {
    flex: 1 1 100%;
}

.half-width {
    flex: 0 1 50%;
}

.third-width {
    flex: 0 1 33.33%;

}

.quarter-width {
    flex: 0 1 25%;
}

.main-section {
    display: flex;
        flex-basis: 100%;
        justify-content: center;
        flex-wrap: wrap;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
