body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.full-width {
    display: flex;
    flex: 0 0 100%;
}

.half-width {
    display: flex;
    flex: 0 0 50%;
}

.third-width {
    display: flex;
    flex: 0 0 33.33%;

}

.quarter-width {
    display: flex;
    flex: 0 0 25%;
}

.flex-grid {
    display: flex;
        flex-basis: 100%;
        justify-content: center;
        flex-wrap: wrap;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
