.header {
background-image: linear-gradient(
   to right bottom, rgba($color-primary-light, 0.8),
   rgba($color-primary-dark, 0.8)),
   url('../img/hero-small.jpg');
background-position: top;
background-size: cover;
justify-content: center;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);//Clip-path support across all browsers
clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); //Creates polygon shape for the header
height: 95vh;

@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
only screen and (min-width: 125em) {
    background-image: linear-gradient(
       to right bottom, rgba($color-primary-light, 0.8),
       rgba($color-primary-dark, 0.8)),
       url('../img/hero.jpg');
}

@include respond(tablet-land) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

@include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}


    &__content-wrapper {
        align-items: flex-start;
        flex-basis: 95%;
        flex-wrap: wrap;
        justify-content: center;
        height: 75vh;
        padding-top: 2rem;
        position: relative;
    }

    &__nav-area {
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        height: 3.5rem;
    }

    &__logo-box {
        align-items: center;
        height: 10%;

        @include respond(tablet-por) {
            height: 13%;
            padding-left: 2.5rem;
        }
    }

    &__menu-icon {
        color: $color-white;
        font-size: 2rem;
    }

    &__text-box {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

}
