.header {
background-image: linear-gradient(
   to right bottom, rgba($color-primary-light, 0.8),
   rgba($color-primary-dark, 0.8)),
   url('../img/hero.jpg');
background-position: top;
background-size: cover;
justify-content: center;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);//Clip-path support across all browsers
clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); //Creates polygon shape for the header
height: 95vh;


    &__content-wrapper {
      flex-basis: 95%;
      justify-content: flex-start;
      height: 75vh;
      padding-top: 2rem;
      position: relative;
    }

    &__nav-area {
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      height: 3.5rem;
    }

    &__logo-box {

    }

    &__menu-icon {
    color: $color-white;
    font-size: 2rem;
    }

    &__text-box {
    position: absolute;
       top: 60%;
       left: 50%;
       transform: translate(-50%, -83%); //Centers the text box for the heading-primary
    text-align: center;
    }

}
