.bg-video {
    height: 100%;
    width: 100%;
    opacity: 25%;
    position: absolute;
        left: 0;
        top: 0;
    z-index: -1;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //makes image/video fit entire backgrond while perserving aspect ratio. Silimar to background-size: cover property
    }
}
