.btn {

    &:link,
    &:visited {
    border-radius: 5rem;
    color: #000;
    display: inline-block;
    padding: 1.5rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s;
    }


    &--white {
       background: $color-white;
       color: $color-gray-dark;

       &::after {
          background-color: $color-white;
       }
    }

    &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transform: translateY(-.3rem);

        &::after {
        opacity: 0;
        transform: scaleX(1.4) scaleY(1.6);
        }
    }

    &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    transform: translateY(-.1rem);
    }

    &::after {
    border-radius: 5rem;
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
       top: 0;
       left: 0;
    transition: all .4s;
    width: 100%;
    z-index: -1;
    }

    &--animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
    }

}
