/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Card Functionality
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.card {
    height: 50rem;
    width: 80%;
    perspective: 150rem; //To add smoothness to card during rotation
    -moz-perspective: 150rem; //For Firefox compatibility
    position: relative;

    &__side {
        backface-visibility: hidden; //Hides content of the card on "back side" after rotation
        border-radius: 10px;
        box-shadow: $shadow-1;
        color: $color-white;
        font-size: $default-font-size;
        height: 50rem;
        position: absolute;
            left: 0;
            top: 0;
        overflow: hidden;//Hides corners of the linear-gradient
        transition: all .8s ease;
        width: 100%;

        &--front {
            background-color: $color-gray-light-1;

            &-1 {

            }

            &-2 {

            }

            &-3 {

            }
        }


        &--back {
            transform: rotateY(180deg); //Allows "back side" of card to be in corrent orientation so content displays properly when card is rotated
            background-color: $color-primary-light;
            justify-content: center;

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Font Card Styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    &__picture {
        background-blend-mode: overlay;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);//Clip-path support across all browsers
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        height: 23rem;

        &-1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url('../img/nat-5.jpg');
        }

        &-2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url('../img/nat-6.jpg');
        }

        &-3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../img/nat-7.jpg');
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
            top: 12rem;
            right: 1.5rem;
        text-align: right;
        text-transform: uppercase;
        width: 80%;
    }

    &__heading-span {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        padding: .6rem;

        &--orange {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--green {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--blue {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        justify-content: center;

        ul {
            list-style: none;
            width: 80%;

            li{
                color: $color-black;
                padding: 1rem;
                text-align: center;

                &:not(:last-child) {
                        border-bottom: 1px solid $color-gray-light-2;
                }
            }
        }
    }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Back Card Styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    &__cta {
        align-items: center;
        height: 65%;
        justify-content: flex-end;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-weight: 100;
        font-size: 6rem;
    }
}
