.composition {
    height: 100%;
    width: 100%;
    position: relative;

    &__photo {
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        outline-offset: 1.2rem;
        position: absolute;
        transition: .3s;
        width:  55%;

        &:hover {
            outline: 1rem solid $color-primary;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            transform: scale(1.2) translateY(5px);
            z-index: 10;
        }


        &--p1 {
            left:0;
            top: 0;

        }

        &--p2 {
            right: 0;
            top: 13%;
        }

        &--p3 {
            bottom: 0;
            left: 20%;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}
