.form {
    align-content: flex-start;
    flex-wrap: wrap;

    &__group {
        //individual form items
        flex-wrap: wrap;

        @extend .u-padding-bottom-small;
        @extend .full-width;

        &--radio {
            flex: 0 1 70%;
            justify-content: space-between;
            @extend .u-margin-left-xs;

            @include respond(tablet-por) {
                align-items: flex-start;
                flex-direction: column;
                height: 6rem;
            }
        }
    }

    //text fields
    &__input {
        background-color: rgba($color-white, .6);
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 5px;
        color: inherit;
        display: block;
        font-family: inherit;
        font-size: $default-font-size;
        padding: 1rem 1.5rem;
        transition: all .5s;
        width: 80%;

        @include respond(phone) {
            width: 100%;
        }

        //when text field is clicked and active
        &:focus {
            border-bottom: 3px solid $color-primary;
            box-shadow: 3px 3px 5px rgba($color-black, .2);
            outline: none;

            //if input is not in valid format
            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        //styles for input text placeholder
        &::-webkit-input-placeholder {
            color: $color-gray-dark-2;
        }
    }

    &__label {
        display: flex;
        flex-basis: 31%;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 1.5rem;
        margin-top: .5rem;
        transition: all .3s;
    }

    //slide down animation for form field label
    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-4rem);
        visibility: hidden;
    }


    &__radio {
         position: relative;
         margin-right: 1.5rem;
         text-align: center;

        &-input {
            display: none;
        }

        &-label {
            cursor: pointer;
            font-size: $default-font-size;
            padding-left: 3rem;
        }

        &-button {
            border: 5px solid $color-primary;
            border-radius: 50%;
            display: inline-block;
            height: 3rem;
            position: absolute;
                top: -.5rem;
                left: -.9rem;
            width: 3rem;

            &::after {
                content: "";
                background-color: $color-primary;
                border-radius: 50%;
                display: block;
                height: 1.4rem;
                width: 1.4rem;
                opacity: 0;
                @include centerAbsolute;
            }
        }

        &-input:checked ~ &-label &-button::after {
            opacity: 1;
        }
    }

    &__button {
        padding: 3rem 0;
    }

}
