.popup {
    align-items: center;
    background: rgba($color-black, .85);
    border: 1rem inset #5f9841;
    justify-content: center;
    position: fixed;
        top: 0;
        left: 0;
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 4000;

    @supports(-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
        background: rgba($color-black, .3);
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
    }

    @include respond(phone) {
        height: 100%;
        width: 100%;
    }



    &__content {
        border-radius: $default-border-radius;
        flex: 0 0 75%;
        overflow: hidden;
        transform: scale(0);
        transition: all .5s .2s;

        @include respond(tablet-por) {
            flex: 0 0 85%;
            flex-direction: column-reverse;
        }
    }

    &__left-div,
    &__right-div {
        flex-wrap: wrap;
    }

    &__left-div {
        @include respond(tablet-por) {
            flex-direction: row !important;
            flex: 0 0 40% !important;
        }
    }


    &__right-div {
        background-color: $color-white;
        justify-content: flex-end;

        @include respond(tablet-land) {
            padding: 3rem;
        }
    }

    &__image {
        background-size: cover;
        background-position: center;
        @extend .full-width;

        @include respond(tablet-por) {
            height: 20rem;
            flex-direction: row;
            flex: 0 0 50% !important;
        }

        &--1 {
            background-image: url('../img/nat-8.jpg');
        }

        &--2 {
            background-image: url('../img/nat-9.jpg');
        }
    }

    &__text-box {
        align-self: center;
        flex-grow: 1;
    }

    &__text {
        @extend .paragraph;
        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid $color-gray-light-2;
        font-size: 1.4rem;
        hyphens: auto;
    }

    .btn-wrapper {
        padding: 1rem 0;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        transform: scale(1);
    }

    &__close {
        color: $color-gray-dark-2;
        font-size: 2rem;

        &:hover {
            color: $color-primary;
        }
    }
}
