*,
*::after,
*::before {
box-sizing: inherit;
margin: 0;
padding: 0;
}

html {
    //This defines 1rem
    font-size: 62.5%; //1rem = 10px = 10/16 = 62.5%

    @include respond(tablet-land) {
        font-size: 56.25%; //1rem = 9px = 9/16 = 56.25%
    }

    @include respond(tablet-por) {
        font-size: 50%; //1rem = 8px = 8/16 = 50%
    }

    @include respond(phone) {
        font-size: 50%; //1rem = 8px = 8/16 = 50%
    }

    @include respond(desktop-large) {
        font-size: 75%; //1rem = 12px = 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 2.5rem;

    @include respond(tablet-por) {
        padding: 0; //Removes white border
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
