/*=====================
        margin
======================*/

.u-margin-xs { margin:1rem; }
.u-margin-small { margin: 2rem; }
.u-margin-med { margin: 4rem; }
.u-margin-big { margin: 6rem; }
.u-margin-xl { margin: 8rem; }

.u-margin-vertical-xs { margin: 1rem 0; }
.u-margin-vertical-small { margin: 2rem 0; }
.u-margin-vertical-med { margin: 4rem 0; }
.u-margin-vertical-big { margin: 6rem 0; }
.u-margin-vertical-xl { margin: 8rem 0; }

.u-margin-horizontal-xs { margin: 0 1rem; }
.u-margin-horizontal-small { margin: 0 2rem; }
.u-margin-horizontal-med { margin: 0 4rem; }
.u-margin-horizontal-big { margin: 0 6rem; }
.u-margin-horizontal-xl { margin: 0 8rem; }

.u-margin-top-xs { margin-top: 1rem; }
.u-margin-top-small { margin-top: 2rem; }
.u-margin-top-med { margin-top: 4rem; }
.u-margin-top-big { margin-top: 6rem; }
.u-margin-top-xl { margin-top: 8rem; }

.u-margin-right-xs { margin-right: 1rem; }
.u-margin-right-small { margin-right: 2rem; }
.u-margin-right-med { margin-right: 4rem; }
.u-margin-right-big { margin-right: 6rem; }
.u-margin-right-xl { margin-right: 8rem; }

.u-margin-bottom-xs { margin-bottom: 1rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-med { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 6rem; }
.u-margin-bottom-xl { margin-bottom: 8rem; }

.u-margin-left-xs { margin-left: 1rem; }
.u-margin-left-small { margin-left: 2rem; }
.u-margin-left-med { margin-left: 4rem; }
.u-margin-left-big { margin-left: 6rem; }
.u-margin-left-xl { margin-left: 8rem; }

/*=====================
        padding
======================*/

.u-padding-xs { padding:1rem; }
.u-padding-small { padding: 2rem; }
.u-padding-med { padding: 4rem; }
.u-padding-big { padding: 6rem; }
.u-padding-xl { padding: 8rem; }

.u-padding-vertical-xs { padding: 1rem 0; }
.u-padding-vertical-small { padding: 2rem 0; }
.u-padding-vertical-med { padding: 4rem 0; }
.u-padding-vertical-big { padding: 6rem 0; }
.u-padding-vertical-xl { padding: 8rem 0; }

.u-padding-horizontal-xs { padding: 0 1rem; }
.u-padding-horizontal-small { padding: 0 2rem; }
.u-padding-horizontal-med { padding: 0 4rem; }
.u-padding-horizontal-big { padding: 0 6rem; }
.u-padding-horizontal-xl { padding: 0 8rem; }

.u-padding-top-xs { padding-top: 1rem; }
.u-padding-top-small { padding-top: 2rem; }
.u-padding-top-med { padding-top: 4rem; }
.u-padding-top-big { padding-top: 6rem; }
.u-padding-top-xl { padding-top: 8rem; }

.u-padding-right-xs { padding-right: 1rem; }
.u-padding-right-small { padding-right: 2rem; }
.u-padding-right-med { padding-right: 4rem; }
.u-padding-right-big { padding-right: 6rem; }
.u-padding-right-xl { padding-right: 8rem; }

.u-padding-bottom-xs { padding-bottom: 1rem; }
.u-padding-bottom-small { padding-bottom: 2rem; }
.u-padding-bottom-med { padding-bottom: 4rem; }
.u-padding-bottom-big { padding-bottom: 6rem; }
.u-padding-bottom-xl { padding-bottom: 8rem; }

.u-padding-left-xs { padding-left: 1rem; }
.u-padding-left-small { padding-left: 2rem; }
.u-padding-left-med { padding-left: 4rem; }
.u-padding-left-big { padding-left: 6rem; }
.u-padding-left-xl { padding-left: 8rem; }

/*=====================
        text-align
======================*/

.u-text-left { text-align: left; }
.u-text-right { text-align: right; }
.u-text-center { text-align: center; }
.u-text-justify { text-align: justify; }
