.u-margin-bottom-xs { margin-bottom: 1rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-med { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 6rem; }
.u-margin-bottom-xl { margin-bottom: 8rem; }

.u-padding-horizontal-small { padding: 0 2rem; }
.u-padding-horizontal-med { padding: 0 4rem; }
.u-padding-horizontal-big { padding: 0 6rem; }
.u-padding-horizontal-xxl { padding: 0 8rem; }
