.section-about {
    background: $color-gray-light-1;
    padding: 22rem 0;
    margin-top: -15vh;

    @include respond(phone) {
        margin-top: -15vh;
    }

    &__content-wrapper {
        flex: 0 0 85%;

        @include respond(tablet-land) {
            flex-flow: column;
            height: 70rem;
        }
    }

    &__img-container {
        justify-content: center;
    }

    &__text-box {
        @include respond(tablet-por) {
            flex: 0 0 40%;
        }
    }
}

.section-feature {
    background-image: linear-gradient(
       to right bottom, rgba($color-primary-light, 0.8),
       rgba($color-primary-dark, 0.8)),
       url('../img/nat-4.jpg');
    background-position: top;
    background-size: cover;
    margin-top: -10vh;
    padding: 20rem 0;

    @include respond(phone) {
        padding: 15rem 0;
    }

    transform: skewY(-7deg); //Skews entire section, to match design of header

    & > * { //Universal selector for child elements of .section-about
        transform: skewY(7deg);//Reverts the skew effects on all child elements
    }

    &__content-wrapper {
        flex: 0 1 95%;
    }
}

.section-tours {
    background: $color-gray-light-1;
    margin-top: -10vh;
    padding: 20rem 0 3rem;

    &__content-wrapper {
            justify-content: center;
    }
}

.section-stories {
    padding: 10rem 0;
    position: relative;

    &__content-wrapper {
        align-items: center;
        flex: 0 1 75%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section-booking {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary, $color-primary-dark);
    padding: 15rem 0;
    position: relative;

    &__content-wrapper {
        border-radius: $default-border-radius;
        box-shadow: $shadow-2;
        background-image: linear-gradient(105deg,
            rgba($color-white, .8) 0%,
            rgba($color-white, .8) 55%,
            transparent 55%),
            url('../img/nat-10.jpg');
        background-size: cover;
        flex: 0 1 80%;
        overflow: hidden;

        @include respond(tablet-land) {
            flex: 0 1 70%;
        }

        @include respond(tablet-por) {
            flex: 0 1 80%;
        }

        @include respond(phone) {
            background-image: linear-gradient(105deg,
                rgba($color-white, .8) 0%,
                rgba($color-white, .8) 100%),
                url('../img/nat-10.jpg');
        }
    }

    .heading-secondary {
        flex: 0 0 auto;
        justify-content: flex-start;
    }

    &__text-box {
        flex: 0 1 60%;

        @include respond(phone) {
            flex: 0 1 100%;
            padding-left: 3rem;

        }
    }

    &__form {

    }

}
